/* Box sizing rules */
*,
*::before,
*::after
{
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

// END OF RESET CSS
.list-wrapper{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  justify-items: center;

  justify-content: center;
  padding: 0;
  margin: 0;
}

.home-day {
  //display: inline-block;
  width: 250px;
  height: 250px;
  margin: 1rem;
  padding: 0rem;
}

.home-day.active{
  overflow-y: overlay;
}

.home-day
.cal-mode {
  position: relative;
  top: 125px;
  text-align: center;
}

.home-day.active
.cal-mode {
  top: initial;
  text-align: center;
}

.showing{
  display: inline-block;
}

.counter {
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  padding: 0.5rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

