/* Remove all animations and transitions for people that prefer not to see them */
//@media (prefers-reduced-motion: reduce) {
//  * {
//    animation-duration: 0.01ms !important;
//    animation-iteration-count: 1 !important;
//    transition-duration: 0.01ms !important;
//    scroll-behavior: auto !important;
//  }
//}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

//.bar {
//  background: linear-gradient(to bottom, #cdcdcd, #e5e5e5);
//  width: 100%;
//  display: flex;
//  min-width: 250px;
// flex-direction: column;
//  padding-left: 4px;
//  padding-top: 3px;
//  padding-bottom: 5px;
//  padding-right: 4px;
//  margin: 0 auto;
//  max-width: 85vh;
//  border-bottom-left-radius: 10px;
//  border-bottom-right-radius: 10px;
//  align-content: center;
//  justify-content: center;
//
//  .daily-target {
//    display: inline;
//
//    p {
//      display: inline !important;
//    }
//  }
//}

.top-bar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  cursor: move !important;
}

.close {
  -webkit-app-region: no-drag!important;
  cursor: pointer !important;
}
.settings-btn {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

body {
  //background-color: #31353D;
  overflow: hidden;
  animation: bounceInUp;
  animation-duration: 0.5s;
}

.flip-enter-active {
  /*transition: opacity .5s;*/
  transition-delay: 0.4s;
  /*transition-timing-function: flip;*/
  animation: bounceInUp;
  position: absolute;
  animation-duration: 0.8s;
}

.flip-leave-active {
  /*transition: opacity .5s;*/
  transition-delay: 0.5s;
  /*transition-timing-function: flip;*/
  position: absolute;
  animation: bounceOutUp;
  animation-duration: 0.5s;
}
