/* Box sizing rules */
*,
*::before,
*::after
{
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

// END OF RESET CSS
.list-wrapper{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  justify-items: center;

  justify-content: center;
  padding: 0;
  margin: 0;
}

.home-day {
  //display: inline-block;
  width: 250px;
  height: 250px;
  margin: 1rem;
  padding: 0rem;
  clip-path: circle(19% at 50% 62%);
  transition: clip-path 2s ease-in-out;
}

.home-day.active{
  overflow-y: overlay;
  clip-path: circle(90%);

}

.home-day
.cal-mode {
  position: relative;
  top: 125px;
  text-align: center;
  transition-property: position, top;
  transition-duration: 1.3s;
  transition-timing-function: ease-in-out;
}

.home-day.active
.cal-mode {
  top: 2px;
  text-align: center;
}

.active .showing{
  //display: inline-block;
  opacity: 100;
}

.showing{
  opacity: 0;
  transition: opacity  2s ease-in 3s,opacity 2s ease-out 0.2s!important;
}

.counter {
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  padding: 0.5rem;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

// VARS
:root {
  --1: #B03060;
  --2: #FE9A76;
  --3: #FFD700;
  --4: #32CD32;
  --5: #816936;
  --6: #008080;
  --7: #0E6EB8;
  --8: #EE82EE;
  --9: #B413EC;
  --10: #FF1493;
  --11: #A52A2A;
}


.co-1{
  background-color:var(--1);
}
.co-2{
 background-color:var(--2);
}
.co-3{
 background-color:var(--3);
}
.co-4{
 background-color:var(--4);
}
.co-5{
 background-color:var(--5);
}
.co-6{
 background-color:var(--6);
}
.co-7{
 background-color:var(--7);
}
.co-8{
 background-color:var(--8);
}
.co-9{
 background-color:var(--9);
}
.co-10{
 background-color:var(--10);
}
.co-11{
 background-color:var(--11);
}